html {
  min-width: 300px;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  max-width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  color: #111;
}

body > {
  header, section, footer {
    margin: 40px 0;
  }
}

body > header {
  margin: 60px 0;
}

ol {
  text-align: left;
}

h1, h2 {
  font-family: 'Viga', sans-serif;
  letter-spacing: 2px;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 0;
}

a[href] {
  text-decoration: none;
  color: #c80e0e;
  transition: color 0.2s;
  &:hover {
    color: #ad2a2a;
  }
}

a[href].button {
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  background-color: #c80e0e;
  color: white;
  padding: 6px 15px;
  margin: 10px 0;
  border-radius: 6px;
  border: 4px solid #c80e0e;
  transition: all 0.3s;
  &:hover {
    background-color: transparent;
    color: #c80e0e;
  }
}

a.full-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.subheadline {
  font-size: 18px;
  margin-top: 0;
}

.banner {
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
  margin: 40px 0;
  position: relative;
  .logo {
    margin: 0 8px;
    img {
      width: 80px;
      height: auto;
    }
  }
  .dxe-line {
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    span:first-child {
      margin: 0 8px;
    }
    span:last-child {
      margin: 0 8px;
      letter-spacing: 2px;
    }
  }
  .philly-line {
    margin: 0 8px;
    font-size: 32px;
    color: #afb0b2;
  }
}

@media (max-width: 810px) {
  .banner {
    .dxe-line {
      flex-wrap: wrap;
    }
    .logo {
      order: 3;
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .banner {
    .dxe-line {
      font-size: 12vw;
    }
    .philly-line {
      font-size: 8vw;
    }
  }
}

.external-links {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  font-family: 'Viga', sans-serif;
  a {
    display: inline-block;
    padding: 10px 15px;
    border-right: 1px solid transparent;
    &:last-child {
      border-right: 0;
    }
  }
}

@media (min-width: 600px) {
  .external-links {
    flex-direction: row;
    a {
      margin: 0 15px 0 0;
      padding: 0 15px 0 0;
      border-right-color: #111;
      &:last-child {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.social-icons {
  margin: 20px 0;
  a i {
    font-size: 36px;
    padding: 4px;
  }
}

.callout {
  font-family: 'Viga', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

footer {
  p {
    margin: 0;
    font-weight: bold;
  }
}

.slideshow {
  margin: 30px 0;
}

.bxslider {
  li {
    width: 100%;
    height: 60vw;
    max-height: 350px;
    background-size: cover;
    background-position: center;
  }
  .bx-wrapper .bx-viewport {
    background: #111;
  }
}

.box {
  background-color: #eee;
  border-radius: 5px;
  padding: 0 10px;
  margin: 40px 0;
  overflow: auto;
}

.event {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
  max-width: 265px;
  align-items: center;
  margin: 20px auto;
  .date {
    .plaque {
      background-color: white;
      border-radius: 4px;
      padding: 10px;
    }
    .month {
      line-height: 0.9;
      margin-bottom: 4px;
      text-transform: uppercase;
    }
    .day {
      font-size: 26px;
      font-weight: bold;
      line-height: 0.75;
    }
  }
  .info {
    padding-left: 10px;
    .title {
      font-weight: bold;
      font-size: 14px;
    }
    .location a {
      color: #111;
    }
  }
}

section.donations {
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
}

#donate {
  padding: 0 20px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  > div {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    &:last-child {
      border-bottom: none;
    }
  }
  .card-meta {
    display: flex;
     > div {
       flex: 1;
     }
     input {
       width: 100%;
       flex: 1;
     }
  }
  label {
    padding-right: 20px;
    font-weight: bold;
    display: block;
  }
  input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    &[disabled] {
      background-color: white;
    }
  }
  input[type="submit"] {
    padding: 12px 20px;
    border-radius: 4px;
    font-weight: bold;
    width: auto;
    cursor: pointer;
    transition: all 0.33s;
    background-color: #ddd;
    margin: 0 auto;
    display: block;
    &:hover {
      background-color: #ccc;
    }
    &[disabled] {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
  .finalize {
    justify-content: space-between;
  }
  .frequency {
    align-self: flex-start;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .submit {
    display: block;
  }
  @media(min-width: 400px) {
    div {
      display: flex;
    }
    label {
      display: inline;
    }
    input {
      width: 0;
    }
  }
}

.notice {
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  &.failure {
    background-color: #ffbcbd;
  }
  &.success {
    background-color: #a0ffa0;
  }
}
